profiles {
    standard {
        process {
            executor = 'SGE'
            penv = 'def_slot'
            cpus = 4
            memory = '4 GB'
            clusterOptions = { "-S /bin/bash -l s_vmem=${task.memory.toGiga()}G -l mem_req=${task.memory.toGiga()}G -cwd -e stderr -v PATH=/usr/local/package/apptainer/1.2.4/bin:$PATH -q '!mjobs_rerun.q' " }
            cache = 'deep'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
            maxRetries = 2
            maxForks = 30
            queueSize = 30            
        }
        conda {
            enabled = true
            autoActivate = true
        }
    }
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

process {
    withName: trim_hifi_reads {
        conda = '/home/tksjp/miniconda3/envs/samtools'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: minimap2_filter {
        conda = '/home/tksjp/miniconda3/envs/minimap2'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: samtools_split {
        conda = '/home/tksjp/miniconda3/envs/samtools'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: hifiasm {
        conda = '/home/tksjp/miniconda3/envs/hifiasm'
        cpus = 12
        memory = { 8.GB * task.attempt }
    }
    withName: quast {
        conda = '/home/tksjp/miniconda3/envs/quast'
        cpus = 4
        memory = { 8.GB * task.attempt }
    }
    withName: minimap2_remap {
        conda = '/home/tksjp/miniconda3/envs/minimap2'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
    withName: samtools_sort {
        conda = '/home/tksjp/miniconda3/envs/samtools'
        cpus = 8
        memory = { 4.GB * task.attempt }
    }
}
